# Data cleaning

In [ ]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

###

In [38]:
df_info = pd.read_csv(r'C:\Users\Fardin\Desktop\Projects\rit_competition\pharm_info.csv')

In [39]:
df_info.head()

,storenum,storename,telephone,address1,address2,city,state,zipcode,zipcode4,longitude,latitude,website,orgname
0,2850.0,CVS - 1142,585-671-5665,1900 EMPIRE BOULEVARD,NaN,WEBSTER,NY,14580,1934.0,-77.501365,43.191229,HTTP://WWW.CVS.COM,CVS ALBANY LLC
1,2849.0,CVS - 2067,585-321-2581,2580 EAST HENRIETTA ROAD,NaN,ROCHESTER,NY,14623,4526.0,-77.606816,43.069235,HTTP://WWW.CVS.COM,CVS ALBANY LLC
2,2852.0,CVS - 2217,585-723-3051,878 LONG POND ROAD,NaN,GREECE,NY,14612,3049.0,-77.695905,43.238923,HTTP://WWW.CVS.COM,CVS ALBANY LLC
3,4603.0,CVS - 2218,585-581-5101,3750 MOUNT READ BOULEVARD,NaN,ROCHESTER,NY,14616,3436.0,-77.658331,43.227241,HTTP://WWW.CVS.COM,CVS ALBANY LLC
4,6057.0,CVS - 2501,585-426-2991,2709 CHILI AVENUE,NaN,ROCHESTER,NY,14624,4123.0,-77.709106,43.122328,HTTP://WWW.CVS.COM,CVS ALBANY LLC

In [40]:
df_info = df_info.dropna(subset=['storenum'])

In [41]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69 entries, 0 to 68
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   storenum   69 non-null     float64
 1   storename  69 non-null     object
 2   telephone  69 non-null     object
 3   address1   69 non-null     object
 4   address2   2 non-null      object
 5   city       69 non-null     object
 6   state      69 non-null     object
 7   zipcode    69 non-null     int64
 8   zipcode4   69 non-null     float64
 9   longitude  69 non-null     float64
 10  latitude   69 non-null     float64
 11  website    69 non-null     object
 12  orgname    69 non-null     object
dtypes: float64(4), int64(1), object(8)
memory usage: 7.5+ KB

In [43]:
df_info = df_info.drop(['telephone','address1','address2','state','website'],axis = 1)

### Sales data

In [6]:
df_sales = pd.read_csv(r'C:\Users\Fardin\Desktop\Projects\rit_competition\pharm_sales.csv')

In [7]:
df_sales.head()

,invnum,date,storenum,vendornum,itemnum,itemcategory,productcost,product_retail_price,units_sold,sales_num
0,INV-31573500023,11/2/2020,3696,259.0,11777,Food and beverages,6.63,9.95,12,120.59
1,INV-20889900001,7/29/2019,2528,260.0,10803,Diet and nutrition items,7.35,11.03,6,74.12
2,INV-20842300030,7/25/2019,5501,260.0,11294,Skin care items,8.00,12.00,4,61.44
3,INV-28440700003,7/2/2020,5057,434.0,36301,Seasonal products,4.13,6.20,3,21.39
4,INV-28440700012,7/2/2020,5057,259.0,11774,Skin care items,3.07,4.61,8,36.51

In [8]:
df_merged = pd.merge(df_sales, df_info, on='storenum', how='outer')

In [9]:
df_merged

,invnum,date,storenum,vendornum,itemnum,itemcategory,productcost,product_retail_price,units_sold,sales_num,...,address1,address2,city,state,zipcode,zipcode4,longitude,latitude,website,orgname
0,INV-31573500023,11/2/2020,3696,259.0,11777,Food and beverages,6.63,9.95,12,120.59,...,100 ELMRIDGE CENTER DRIVE,NaN,GREECE,NY,14626,3459.0,-77.724197,43.214602,HTTP://WWW.WALMART.COM,WAL-MART STORES EAST LP
1,INV-20309800006,7/1/2019,3696,260.0,25608,Personal hygiene,12.96,19.44,6,118.97,...,100 ELMRIDGE CENTER DRIVE,NaN,GREECE,NY,14626,3459.0,-77.724197,43.214602,HTTP://WWW.WALMART.COM,WAL-MART STORES EAST LP
2,INV-20890000006,7/29/2019,3696,297.0,35916,OTC/VMS,3.37,5.06,12,62.54,...,100 ELMRIDGE CENTER DRIVE,NaN,GREECE,NY,14626,3459.0,-77.724197,43.214602,HTTP://WWW.WALMART.COM,WAL-MART STORES EAST LP
3,INV-20462900015,7/8/2019,3696,260.0,43334,Skin care items,5.00,7.50,24,167.40,...,100 ELMRIDGE CENTER DRIVE,NaN,GREECE,NY,14626,3459.0,-77.724197,43.214602,HTTP://WWW.WALMART.COM,WAL-MART STORES EAST LP
4,INV-20890000018,7/29/2019,3696,370.0,64009,OTC/VMS,11.49,17.24,6,124.13,...,100 ELMRIDGE CENTER DRIVE,NaN,GREECE,NY,14626,3459.0,-77.724197,43.214602,HTTP://WWW.WALMART.COM,WAL-MART STORES EAST LP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990741,INV-34968000002,3/12/2021,6064,260.0,10807,OTC/VMS,16.59,24.89,12,427.11,...,804 NORTH GOODMAN STREET,NaN,ROCHESTER,NY,14609,4640.0,-77.578954,43.168956,HTTP://WWW.RITEAID.COM,RITE AID OF NEW YORK INC
990742,INV-34968000014,3/12/2021,6064,421.0,64865,OTC/VMS,8.98,13.47,12,171.34,...,804 NORTH GOODMAN STREET,NaN,ROCHESTER,NY,14609,4640.0,-77.578954,43.168956,HTTP://WWW.RITEAID.COM,RITE AID OF NEW YORK INC
990743,INV-34968000009,3/12/2021,6064,260.0,11294,Skin care items,8.00,12.00,24,397.44,...,804 NORTH GOODMAN STREET,NaN,ROCHESTER,NY,14609,4640.0,-77.578954,43.168956,HTTP://WWW.RITEAID.COM,RITE AID OF NEW YORK INC
990744,INV-34968000001,3/12/2021,6064,260.0,10802,OTC/VMS,16.59,24.89,12,301.67,...,804 NORTH GOODMAN STREET,NaN,ROCHESTER,NY,14609,4640.0,-77.578954,43.168956,HTTP://WWW.RITEAID.COM,RITE AID OF NEW YORK INC
990745,INV-34968000004,3/12/2021,6064,259.0,43028,Personal hygiene,11.55,17.33,6,135.17,...,804 NORTH GOODMAN STREET,NaN,ROCHESTER,NY,14609,4640.0,-77.578954,43.168956,HTTP://WWW.RITEAID.COM,RITE AID OF NEW YORK INC